.main{
    background-color: rgb(235, 233, 233);
}
.footercontent{
    display:flex;
    justify-content: flex-start;
    font-size: 20px;
    font-family: sans-serif;
}
.container1 .footer1{
    margin-left:400px;
    font-size: 50px ;
}
.footer1{
    display:flex;
    justify-content: flex-start;
    flex-direction: raw;
    flex-wrap: wrap;
    margin-left: 300px;

}
.footer1 .subtext{
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    color:rgb(53, 47, 47)
  
}
.footercontent .subtext{
    margin-right: 600px;
    margin-left: 50px;
    color:rgb(51, 47, 47);
    font-family:Sans-serif;
}
.footerhead{
    margin-left:400px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}